# Misc
[Pp]ackages/
/[Aa]rtifacts/
/[Tt]ools/
[Tt]emp/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio
.vs/
.vscode/
launchSettings.json
project.lock.json

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Rider
.idea/

# ReSharper is a .NET coding add-in
_ReSharper*

# .NET CLI
/.dotnet/
dotnet-install.sh*
/.packages/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/accessKeys.csv
/credentials
